.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #222831;
}
.logo{
    background-color: #00adb5;
}
.logo__text{
    color: white;
}
.navigation__list{
    display: flex;
    flex-grow: 1;
    height: 100%;
}
.navigation__item{
    list-style-type: none;
    width: 50%;
    padding-right: 5rem;
    border-right: 1px solid grey;
    color: #eeeeee;
}